@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400&display=swap');

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.all {
  width: 944px;
  margin: 0 auto;
  padding-top: 22px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 944px;
  margin: o auto;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.head {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.previewDescription {
  color: #fff;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.listElement {
  width: 944px;
  height: 69px;
  border-radius: 4px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 5px solid white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pathsElement {
  color: #94a6be;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
 